<link rel="import" href="../iron-icons/image-icons.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">

<dom-module id="cotton-breadcrumbs-item">
  <style>
    :host {
      display: inline-block;
    }
    :host ul, :host li {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 10pt;
      cursor: pointer;
    }
    :host li {
      border: 1px solid transparent;
    }
    :host .label {
      padding: 0 5px;
      line-height: 22px;
      font-size: var(--cotton-breadcrumbs-item-size, 12pt);
      color: var(--cotton-breadcrumbs-item-color, #3974BD);
    }
    :host .label.nonNavigable {
        color: var(--cotton-breadcrumbs-item-color-no-brothers, black);
        cursor: default;
    }
    :host .label.nonNavigable:hover {
        color: var(--cotton-breadcrumbs-item-color-no-brothers, black) !important;
    }
    :host paper-icon-button, :host paper-icon-button ::content iron-icon {
      height: 23px;
      width: 23px;
      padding: 0;
    }
    :host .next {
      color: var(--cotton-breadcrumbs-item-next-color, #888);
    }
    :host li:hover {
      cursor: pointer;
      background: var(--cotton-breadcrumbs-item-background-color, white);
      border: 1px solid var(--cotton-breadcrumbs-item-border-color, #d0e0f3);
      border-radius: 2px;
    }
    :host li.noBrothers:hover {
        background: white !important;
        border-color: transparent !important;
    }
    :host li.opened {
      border: 1px solid var(--cotton-breadcrumbs-item-border-color, #d0e0f3);
      border-bottom: 0;
      background: var(--cotton-breadcrumbs-item-background-color, white);
      border-radius: 2px 2px 0 0;
    }
    :host li:hover .brothers {
      display: block;
    }
    :host li:hover .next {
      display: none !important;
    }
    :host #brothersDialog {
      margin: 0;
      position: absolute;
      left: 0;
      margin-left: -1px;
      top: 0;
      box-shadow: none;
      min-width: 240px;
      height: 150px;
      background: var(--cotton-breadcrumbs-item-background-color, white);
      border: 1px solid var(--cotton-breadcrumbs-item-border-color, #d0e0f3);
      border-radius: 0 2px 2px 2px;
    }
    :host .relative {
      position: relative;
    }
    :host .brothers {
      height: 100%;
      overflow: auto;
    }
    :host .brothers li {
      margin: 10px;
      border: 1px solid transparent;
      cursor: pointer;
    }
    :host .brothers li a {
      display: block;
      padding: 4px 10px;
      font-size: var(--cotton-breadcrumbs-item-brothers-size, 12pt);
    }
    :host .brothers li:hover {
      background: var(--cotton-breadcrumbs-item-border-color, #d0e0f3);
    }
    @media only screen and (max-width: 900px) {
    }
  </style>
  <template>
    <div class="layout horizontal">
      <li class="relative layout horizontal">
        <a class="label" on-tap="_itemSelected">[[item.label]]</a>
        <paper-icon-button class="brothers" icon="icons:arrow-drop-down" on-tap="_showBrothers"></paper-icon-button>
        <paper-dialog id="brothersDialog" on-iron-overlay-closed="_brothersClosed">
          <ul class="brothers">
            <template is="dom-repeat" items="[[item.brothers]]" as="brother">
              <li><a class="label" brother="[[brother]]" on-tap="_brotherSelected">[[brother.label]]</a></li>
            </template>
          </ul>
        </paper-dialog>
      </li>
      <iron-icon class="next" icon="image:navigate-next"></iron-icon>
    </div>
  </template>

  <script>
    const CottonBreadcrumbsItemDictionary = {
        es : {
        },
        en : {
        }
    };

    Polymer({
      is: 'cotton-breadcrumbs-item',
      behaviors: [ CottonBehaviors.TranslatorBehavior ],
      properties: {
        item: { type: Object, value: function() { return {name:"", label:""}; } },
        navigable : { type: Boolean, value : function() { return true; }, observer: '_refresh' }
      },

      attached : function() {
          this.translate(CottonBreadcrumbsItemDictionary);
      },

      _refresh : function() {
          this._refreshClassNames();
          this.querySelector(".next").hidden = !this.navigable;
          this.querySelector(".brothers").hidden = !this._hasBrothers();
      },

      _refreshClassNames : function() {
          var element = this.querySelector("li");
          element.className = element.className.replace("noBrothers", "");
          element.className += (!this._hasBrothers() ? " noBrothers" : "");

          var label = this.querySelector(".label");
          label.className = label.className.replace("nonNavigable", "");
          label.className += (!this.navigable ? " nonNavigable" : "");
      },

      _hasBrothers : function() {
          return this.item.brothers != null && this.item.brothers.length > 0;
      },

      _itemSelected : function(event) {
          if (!this.navigable) return;
          this.fire('item-selected', { item: this.item });
      },

      _brotherSelected : function(event) {
          this.fire('item-selected', { item: event.target.brother });
          this._hideBrothers();
      },

      _showBrothers : function(event) {

          if (this._isBrothersOpened()) {
              this._hideBrothers();
              return;
          }

          var target = this.querySelector("li");
          target.className += " opened";
          this.$.brothersDialog.style.top = (target.offsetHeight - 1) + "px";
          this.$.brothersDialog.open();
      },

      _isBrothersOpened : function() {
          var target = this.querySelector("li");
          return target.className.indexOf("opened") != -1;
      },

      _hideBrothers : function(event) {
          this.$.brothersDialog.close();
          this._brothersClosed();
      },

      _brothersClosed : function() {
          var element = this.querySelector("li");
          element.className = element.className.replace("opened", "").trim();
      }

    });
  </script>
</dom-module>
