<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-styles/paper-styles.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="cotton-breadcrumbs-item.html">

<dom-module id="cotton-breadcrumbs">
  <style>
    :host ul, :host li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    :host paper-icon-button {
      height: 27px;
      width: 27px;
      margin-left: 2px;
      padding: 0;
      display: block;
      margin-top: -2px;
    }
    :host .relative {
      position: relative;
    }
    :host #parentsDialog {
      margin: 0;
      position: absolute;
      left: 0;
      margin-left: 5px;
      top: 0;
      margin-top: 2px;
      box-shadow: none;
      min-width: 240px;
      max-height: 600px;
      overflow: auto;
      background: var(--cotton-breadcrumbs-item-background-color, white);
      border: 1px solid var(--cotton-breadcrumbs-item-border-color, #d0e0f3);
      border-radius: 0 2px 2px 2px;
    }
    :host .parents {
      height: 100%;
      overflow: auto;
    }
    :host .parents li {
      margin: 10px;
      border: 1px solid transparent;
      cursor: pointer;
    }
    :host .parents li:hover {
      cursor: pointer;
      background: var(--cotton-breadcrumbs-item-background-color, white);
      border: 1px solid var(--cotton-breadcrumbs-item-border-color, #d0e0f3);
      border-radius: 2px;
    }
    :host .parents li .label {
      line-height: 22px;
      color: var(--cotton-breadcrumbs-item-color, #3974BD);
    }
    :host .parents li a {
      display: block;
      padding: 4px 10px;
      font-size: var(--cotton-breadcrumbs-item-parents-size, 12pt);
    }
    :host .parents li:hover {
      background: var(--cotton-breadcrumbs-item-border-color, #d0e0f3);
    }
    @media only screen and (max-width: 900px) {
    }
  </style>
  <template>
    <div class="layout horizontal">
      <div class="relative">
        <paper-icon-button class="up" icon="icons:expand-less" on-tap="_showParents"></paper-icon-button>
        <paper-dialog id="parentsDialog">
          <ul class="parents">
            <template is="dom-repeat" items="[[parents]]" as="parent">
              <li><a class="label" parent="[[parent]]" on-tap="_parentSelected">[[parent.label]]</a></li>
            </template>
          </ul>
        </paper-dialog>
      </div>
      <ul class="layout horizontal">
        <template is="dom-repeat" items="[[items]]" as="item">
          <cotton-breadcrumbs-item class="item" item="[[item]]"></cotton-breadcrumbs-item>
        </template>
      </ul>
    </div>
  </template>

  <script>
    const CottonBreadcrumbsDictionary = {
        es : {
        },
        en : {
        }
    };

    const CottonBreadcrumbsScreens = {
      xlarge: 1680,
      large: 1280,
      medium: 980,
      small: 736,
      xsmall: 480
    };

    const ItemsOffset = 30;

    Polymer({
      is: 'cotton-breadcrumbs',
      behaviors: [ CottonBehaviors.TranslatorBehavior, Polymer.IronResizableBehavior ],

      properties: {
        items: { type: Array, value: function() { return []; }, observer: '_refresh' },
        parents: { type: Array, value: function() { return []; }, notify: true },
        pathLimit: { type: Number, value: function() { return -1; } }
      },

      listeners: { 'iron-resize': '_calculateThreshold' },

      attached : function() {
          this.translate(CottonBreadcrumbsDictionary);
          this._calculateThreshold();
      },

      _refresh : function() {
          var widget = this;
          this._refreshParents();
          window.setTimeout(function() {
            widget._refreshComponent();
          }, 40);
      },

      _refreshComponent : function() {
          var items = this.querySelectorAll('.item');
          var pos = 0;

          for (var i=items.length-1;i>=0;i--) {
            items[i].hidden = pos >= this._threshold();
            items[i].navigable = (i != items.length-1);
            pos++;
          }

          this.querySelector(".up").hidden = (items.length <= this._threshold());
      },

      _refreshParents : function() {
          var parents = [];
          var threshold = this._threshold();
          var count = this.items.length;
          var countParents = count > threshold ? count-threshold : 0;
          for (var i=0; i<count; i++) {
            if (i >= countParents) break;
            parents.push(this.items[i]);
          }
          this.parents = parents;
      },

      _threshold : function() {
          return this.pathLimit === -1 ? this.calculatedThreshold : this.pathLimit;
      },

      _calculateThreshold : function() {
          if (this.items == null) return;
          this.calculatedThreshold = this._thresholdFromScreenWidth();
          this._refresh();
      },

      _thresholdFromScreenWidth : function() {
          var screenWidth = document.body.clientWidth;
          if (screenWidth <= CottonBreadcrumbsScreens.xsmall) return 1;
          if (screenWidth <= CottonBreadcrumbsScreens.small) return 2;
          return 1000;
      },

      _showParents : function(event) {
          var target = this.querySelector(".up");
          this.$.parentsDialog.style.top = (target.offsetHeight - 1) + "px";
          this.$.parentsDialog.open();
      },

      _hideParents : function(event) {
        this.$.parentsDialog.close();
      },

      _parentSelected : function(event) {
          this.fire('item-selected', { item: event.target.parent });
          this._hideParents();
      }

    });
  </script>
</dom-module>
